/* Manrope-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/manrope-v13-latin-800.eot"); /* IE9 Compat Modes */
  src: /* IE6-IE8 */ url("../assets/fonts/manrope-v13-latin-800.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/manrope-v13-latin-800.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/manrope-v13-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../assets/fonts/manrope-v13-latin-800.svg")
      format("svg"); /* Legacy iOS */
}
