@use "../styles/variables.scss";
.container {
  background-color: variables.$color-neutral-dark-grayish;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  border-radius: 1rem;

  &__main-component {
    padding-bottom: 3rem;
  }
  &__button {
    width: 4rem;
    height: 4rem;
    margin-bottom: -4rem;

    background-image: url(../assets/images/icon-dice.svg);
    background-repeat: no-repeat;
    background-position: center;

    background-color: variables.$color-primary-neon-green;

    border-radius: 50%;
    border: none;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 1.5rem 0.25rem variables.$color-primary-neon-green;
    }
  }
}
